/*main stuff*/
body {
    background-color: #333339;
    background-image: url(/bg.jpg);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif !important;
}
a {
    color: #4488FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.md_divbody{
    text-align:center;
    width: 100%;
}

.md_divcontent{
    display: inline-block;
    text-align: left;

    background-color: #ffffff27;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.md_footer{
    margin-top: 10px;
    text-align: right;

    font-size: 75%;
}
.md_footer a{
    text-decoration: none;
    color: #b38aff;
}

blockquote{
    background-color: #d0ffa30a;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 2px;
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;

    font-family: monospace;
}

code {
    background-color: #000000c7;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 1px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;

    margin-top: 6px;
    margin-bottom: 6px;

    font-family: monospace;

    display: block;
    white-space: pre;
}

code a {
    color: #FFFFFF;
}